---

# Configuration
mariadb_version: ${mariadb_version}
maxscale_version: ${maxscale_version}
mariadb_port: ${mariadb_port}
maxscale_port: ${maxscale_port}

# MariaDB Enterprise Token
enterprise_token: ${mariadb_enterprise_token}

# Columnstore Settings
api_key: ${cmapi_key}

# Database Credentials
admin_user: ${admin_user}
admin_pass: ${admin_pass}
cej_user: ${cej_user}
cej_pass: ${cej_pass}
maxscale_user: ${maxscale_user}
maxscale_pass: ${maxscale_pass}

# Instance IDs
mcs1_id: ${id1}
